.main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    background-color: linear-gradient(45deg ,red, green);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
